.loginBox{
    height: 400px;
    width: 400px;
    background-color: #383838;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headLine > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.typingId > input {
    width: 300px;
    height: 40px;
    font-size: 25px;
    background-color: #858585;
    border: 0;
}
.typingId > p {
    color: skyblue;
    font-size: 25px;
}
.typingPw > input {
    width: 300px;
    height: 40px;
    font-size: 25px;
    background-color: #858585;
    border: 0;
}
.typingPw > p {
    color: skyblue;
    font-size: 25px;
}
.goLogin > button {
    position: relative;
    top: 20px;
    width: 150px;
    height: 60px;
    background-color: #383838;
    border: 0;
    color: skyblue;
    font-size: 30px;
    font-weight: bold;
    
}
.noAccount > a {
    text-decoration: none;
    outline: none;
    color : skyblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
