body{
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #838383;
  padding: auto;
  margin: auto;
}
h3 {
  display: inline;
  color: #ffffff;
}
h1 {
  color: skyblue;
}
.userBar{
  width: 1100px;
  height: 25px;
}
.userArea{
  display: flex;
  justify-content: flex-end;
}
.userArea li > a{
  margin-right: 20px;
  text-decoration: none;
  outline: none;
  color : skyblue;
  font-family: "메이플스토리";
}
.linkRegister {
  position: absolute;
  top: 0px;
  right: 5px;
}
.linkLogin {
  position: absolute;
  top: 0px;
  right: 75px;
}
.linkFindAccount{
  position: absolute;
  top: 0px;
  right: 130px;
}
#navBar{
  background-color: #8d8d8d;
  width: 1100px;
  height: 35px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.barList{
  height: 35px;
}
.navList > ul{
  display: flex;
  justify-content: flex-start;
}
.navList > li{
  float: left;
  display: flex;
  margin-right: 50px;
  align-items: center;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  outline: none;
}
.navList li > a{
  color : white;
  font-size: 25px;
  font-family: "메이플스토리";
}
#groupA.leftSide{
  width: 300px;
  height: 100vh;
  /*css에서 height를 100%로 만들고싶으면 vh사용
  또한, html, body도 height를 100%로 설정해야함
  */
  float: left;
  position: relative;
  display: flex; /* 부모 박스를 flex로 설정*/
  flex-direction: column; /* 자식 박스를 세로 방향으로 배치*/
  justify-content: flex-start; /* 자식 박스를 시작점에서 정렬*/
  align-items: flex-start; /* 자식 박스를 시작점에서 정렬*/
}
.leftSide > .userInfo{
  width: 300px;
  height: 30vh;
  background-color: #383838;
  position: absolute;
  top: 0;
  margin-bottom: 10px;
}
.userInfo > .writing{
  width: 300px;
  height: 50px;
  background-color : skyblue;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.writing > a{
  text-decoration: none;
  outline: none;
  color : WHITE;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: "메이플스토리";
}
.leftSide > .allMenu {
  width: 300px;
  height: 70vh;
  background-color: #383838;
  position: absolute;
  bottom: 0;
}
.userArea2{ 
  width: 300px;
  bottom: 20%;
  position: absolute;
}
.userArea2 ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
.userArea2 li > a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  outline: none;
  color: white;
}
.begLogin {
  width: 300px;
  position: absolute;
  top: 100px;
}
.begLogin p{
  font-size: 30px;
  display: flex;
  color : WHITE;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.allMenu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.allMenu li > a{
  text-decoration: none;
  outline: none;
  color : #ffffff;
}
#groupB.rightSide{
  width: 770px;
  height: 100vh;
  border: solid 5px;
  border-color: #5e5e5e;
  background-color: #383838;
  float: right;
}
.announcement {
  position: relative;
}
.announcement > a{
  position: absolute;
  right: 10px;
}
.freeBoard {
  position: relative;
}
.freeBoard > a{
  position: absolute;
  right: 10px;
}

