html, body{
  width: 1100px;
  height: 100%;
  margin: auto;
}
.userArea{
  background-color: #aeffb5;
  width: 100%;
  position: relative;
  height: 35px;
}
.linkRegister {
  position: absolute;
  top: 0px;
  right: 5px;
}
.linkLogin {
  position: absolute;
  top: 0px;
  right: 75px;
}
.linkFindAccount{
  position: absolute;
  top: 0px;
  right: 130px;
}
#navBar{
  background-color: #aeafff;
  width: 100%;
  height: 35px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.barList{
  height: 35px;
}
.userArea > a{
  color : rgb(255, 116, 116);
  font-family: "메이플스토리";
}
.navList > ul{
  display: flex;
  justify-content: flex-start;
}
.navList > li{
  float: left;
  display: flex;
  margin-right: 50px;
  align-items: center;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  outline: none;
}
.navList li > a{
  color : black;
  font-size: 25px;
  font-family: "메이플스토리";
}
#groupA.leftSide{
  width: 300px;
  height: 100vh;
  /*css에서 height를 100%로 만들고싶으면 vh사용
  또한, html, body도 height를 100%로 설정해야함
  */
  background-color: aqua;
  float: left;
  position: relative;
  display: flex; /* 부모 박스를 flex로 설정*/
  flex-direction: column; /* 자식 박스를 세로 방향으로 배치*/
  justify-content: flex-start; /* 자식 박스를 시작점에서 정렬*/
  align-items: flex-start; /* 자식 박스를 시작점에서 정렬*/
}
.leftSide > .userInfo{
  width: 300px;
  height: 30vh;
  background-color: #aeafff;
  position: absolute;
  top: 0;
  margin-bottom: 10px;
}
.userInfo > .writing{
  width: 300px;
  height: 50px;
  background-color : skyblue;
  position: absolute;
  bottom: 0;
}
.writing > a{
  text-decoration: none;
  outline: none;
  color : black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: "메이플스토리";
}
.leftSide > .allMenu {
  width: 300px;
  height: 70vh;
  background-color: #ffaeae;
  position: absolute;
  bottom: 0;
}
.userArea2{
  width: 300px;
  bottom: 20%;
  position: absolute;
}
.userArea2 > a{
  bottom: 0;
  display: flex;
  justify-content: center;
}
.greetings {
  width: 300px;
  position: absolute;
  top: 100px;
}
.greetings p{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.allMenu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.allMenu li > a{
  text-decoration: none;
  outline: none;
  color : black;
}
#groupB.rightSide{
  width: 780px;
  height: 100vh;
  background-color: bisque;
  float: right;
}